<mat-dialog-content>
    <div class="modal-content">
      <div class="confirm-month-modal">
      <div class="modal-header">
        <h4 class="modal-title" i18n>Validation</h4>
        <button mat-button
        (click)="close(false)"
        class="close"
        aria-label="Close"></button>
      </div>
      <div class="modal-body">
          Vous êtes sur le point de valider votre CRA {{ data.date | date:'MMMM yyyy' }}. Une fois validé, 
          vous ne pourrez plus apporter de modifications sur vos journées travaillées pendant ce mois.
      </div>
    </div>
    <div class="modal-footer">
        <button class="light" (click)="close(false)" i18n>Annuler</button>
        <button class="dark" (click)="close(true)" i18n>Valider le mois</button>
    </div>
  </div>
</mat-dialog-content>