@import 'variables';
@import 'modal';
@import 'button';

.mat-dialog-content {
  max-height: 85vh !important;
}

.kick-freelance {
  color: $strawBerry !important;
  text-decoration: underline !important;
}
.modal-footer span {
  margin-bottom: 30px;
}

.counter {
  color: slateGrey;
  font-size: 0.7rem;
}