<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 d-none d-md-block sidebar">
            <app-sidebar></app-sidebar>
        </nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="app-bills-container app-container">
                <div class="bills-header-container header-container">
                    <div class="page-header" i18n>Mes documents</div>
                    <div class="analytics-card">
                        <app-stats-counter></app-stats-counter>
                    </div>
                </div>

                <div class="body-container">

                    <div class="row" *ngIf="missions?.length > 0; else noDocs">
                        <div class="col-md-12" *ngFor="let mission of missions">
                            <div class="card-docmission card-container">
                                <div class="infos-container row">
                                    <div class="col-md-3 info-mission">
                                        <div class="profile-picture">
                                            <img *ngIf="hasPictureCompany(mission)" [src]="mission.need.companyLogo.url" class="logo pp" />
                                            <img *ngIf="!hasPictureCompany(mission)" src="/assets/img/blank_cc.svg" class="logo pp" />
                                        </div>
                                        <div class="mission-title">{{ mission.need.jobTitle }}</div>
                                        <div class="client-title">{{ mission.need.companyTitle }}</div>
                                    </div>


                                    <div class="col-md-9">
                                        <table class="table table-hover">
                                            <thead class="doc-head">
                                                <tr>
                                                    <th scope="col">Nom Doc</th>
                                                    <th scope="col">Type</th>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Statut</th>
                                                    <th scope="col">Ddl</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <app-documents-listing-mission [mission]="mission"></app-documents-listing-mission>
                                                <!-- <tr>
                                                    <th scope="row">Nom du doc</th>
                                                    <td><i class="far fa-file-word"></i></td>
                                                    <td>15.07.2019</td>
                                                    <td><i class="fas fa-circle alert-green"></i></td>
                                                    <td>
                                                        <a target="_blank" title="Télécharger">
                                                            <i class="fas fa-download ml-auto"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Nom du doc</th>
                                                    <td><i class="far fa-file-word"></i></td>
                                                    <td>15.07.2019</td>
                                                    <td><i class="fas fa-circle alert-green"></i></td>
                                                    <td>
                                                        <a target="_blank" title="Télécharger">
                                                            <i class="fas fa-download ml-auto"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Nom du doc</th>
                                                    <td><i class="far fa-file-word"></i></td>
                                                    <td>15.07.2019</td>
                                                    <td><i class="fas fa-circle alert-green"></i></td>
                                                    <td>
                                                        <a target="_blank" title="Télécharger">
                                                            <i class="fas fa-download ml-auto"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Nom du doc</th>
                                                    <td><i class="far fa-file-word"></i></td>
                                                    <td>15.07.2019</td>
                                                    <td><i class="fas fa-circle alert-green"></i></td>
                                                    <td>
                                                        <a target="_blank" title="Télécharger">
                                                            <i class="fas fa-download ml-auto"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Nom du doc</th>
                                                    <td><i class="far fa-file-word"></i></td>
                                                    <td>15.07.2019</td>
                                                    <td><i class="fas fa-circle alert-green"></i></td>
                                                    <td>
                                                        <a target="_blank" title="Télécharger">
                                                            <i class="fas fa-download ml-auto"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Nom du doc</th>
                                                    <td><i class="far fa-file-word"></i></td>
                                                    <td>15.07.2019</td>
                                                    <td><i class="fas fa-circle alert-green"></i></td>
                                                    <td>
                                                        <a target="_blank" title="Télécharger">
                                                            <i class="fas fa-download ml-auto"></i>
                                                        </a>
                                                    </td>
                                                </tr> -->
                                            </tbody>
                                        </table>
                                    </div>


                                    <!-- <div class="doc-list">
                                        <div class="docs-wrapper">
                                            <div class="row-fluid" data-toggle="collapse" data-target="#collapseOne">
                                                <div class="accordion-toggle d-flex justify-content-between">

                                                    <div class="col-3 client">Nom du doc</div>
                                                    <div class="col-3 title"><i class="far fa-file-word"></i></div>
                                                    <div class="col-2 date">15.07.2019</div>
                                                    <div class="col-2 statut"><i class="fas fa-circle alert-green"></i></div>
                                                    <div class="col-1 action">
                                                        <a target="_blank" title="Télécharger">
                                                            <i class="fas fa-download ml-auto"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="collapseOne" class="row collapse show">
                                                <div class="col-12" *ngFor="let document of documents">
                                                    <div class="fill-name d-flex">
                                                        <div class="col-1">
                                                            <label>
                                                                                                <input type="checkbox">
                                                                                                <span class="checkmark"></span>
                                                                                            </label>
                                                        </div>
                                                        <div class="col-4 doc"><a href="" title="facture-FA03861">{{ document.fileName }}</a></div>
                                                        <div class="col-2 file-type">
                                                            <i class="far fa-file-word"></i> -->
                                    <!--<i class="far fa-file-pdf"></i>
                                                                                            <i class="fas fa-file-signature"></i>
                                                                                            <i class="fas fa-file-invoice"></i>
                                                                                            <i class="fas fa-file-contract"></i> -->
                                    <!-- </div>
                                                        <div class="col-2 amount">-</div>
                                                        <div class="col-2 date">{{ document.createDate | date: 'dd.MM.yyyy' }}</div>
                                                        <div class="col-1 action">
                                                            <a target="_blank" title="Télécharger">
                                                                <i class="fas fa-download ml-auto"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->




                                </div>
                            </div>



                            <!-- <div class="page-container">
                                <div *ngIf="freelance?.missions.length > 0; else noDocs">
                                    <div class="row-fluid doc-head d-flex justify-content-between">
                                        <div class="col-1">
                                            <label>
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                    </label>
                                        </div>
                                        <div class="col-3">Client</div>
                                        <div class="col-3">Titre</div>
                                        <div class="col-2">Montant</div>
                                        <div class="col-2">Date</div>
                                        <div class="col-1">Actions</div>
                                    </div>


                                    <div *ngFor="let mission of freelance?.missions">
                                        <app-documents-listing-mission [mission]="mission"></app-documents-listing-mission>
                                    </div>

                                </div>


                            </div> -->
                        </div>
                    </div>

                </div>

                <ng-template #noDocs>
                    <div class="page-container">
                        <div class="title">
                            Vous n'avez pas encore de documents.
                        </div>
                    </div>
                </ng-template>

            </div>
        </main>
    </div>
</div>
<app-footer></app-footer>