registry=//registry.npmjs.org/:_authToken=29e30aab-a255-43a7-96db-68b43596f7d6

@neadz:registry=https://pkgs.dev.azure.com/cntdos-csa/Neadz/_packaging/NeadzArtifactory/npm/registry/

always-auth=true
