<div class="bloc-container">
    <h6 i18n>Tous mes projets</h6>
    <div class="empty-block">
      <span i18n>Vous n'avez pas (plus) de projets</span>
    </div>

    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Projet</th>
          <th scope="col">Client</th>
          <th scope="col">Fin Mission</th>
          <th scope="col">Documents</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-active">
          <td>
            Lead dev Android ios...
            <span><i class="fas fa-graduation-cap"></i> 5 ans d'exp.</span>
          </td>
          <td>
            Engie
            <span><i class="fas fa-map-marker-alt"></i> Paris</span>
          </td>
          <td>
            <i class="fas fa-rocket"></i> 05.05.19
            <!-- <span><i class="far fa-clock"></i> 05.04.19 </span> -->
          </td>
          <td>
            <i class="fas fa-file-download"></i>
          </td>
          <td>
            <i class="far fa-eye"></i>
          </td>
        </tr>
        <tr>
          <td>
            Un jour dans l'web...
            <span><i class="fas fa-graduation-cap"></i> 3 ans d'exp.</span>
          </td>
          <td>
            Carrefour
            <span><i class="fas fa-map-marker-alt"></i> Paris</span>
          </td>
          <td>
            <i class="fas fa-rocket"></i> 05.05.19
            <!-- <span><i class="far fa-clock"></i> 05.04.19 </span> -->
          </td>
          <td>
            <i class="fas fa-file-download"></i>
          </td>
          <td>
            <i class="far fa-eye"></i>
          </td>
        </tr>
        <tr>
          <td>
            Dev Angular 6 Full stack...
            <span><i class="fas fa-graduation-cap"></i> 8 ans d'exp.</span>
          </td>
          <td>
            Fujitsu
            <span><i class="fas fa-map-marker-alt"></i> Paris</span>
          </td>
          <td>
            <i class="fas fa-rocket"></i> 05.05.19
            <span><i class="far fa-clock"></i> 05.04.19 </span>
          </td>
          <td>
            <i class="fas fa-file-download"></i>
          </td>
          <td>
            <i class="far fa-eye"></i>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-md-4 offset-md-8">
        <button class="light" i18n>Voir toutes les projets</button>
      </div>
    </div>

  </div>
