<div class="app-container">
    <div class="header-container">
      <div class="page-header" i18n>Nous sommes désormais partenaires commerciaux</div>
    </div>
    <div class="bloc-container">
        <div class="data-block-none">
          <div class="data-block col-md-6">
            <img class="img-fluid" src="/assets/img/launch-free.jpg" />
          </div>
          <div class="data-block col-md-6 msgfinal">
              <p>
                  Nos équipes mettent tout en œuvre pour remporter
                  l’affaire et vous permettre de gagner la prime associée.
              </p>
          </div>
        </div>
        <p class="h6">Afin d’officialiser votre participation, un Email de confirmation vient de vous être adressé.
        </p>
    </div>
</div>
