<div class="tab-pane fade show active" id="legaux" role="tabpanel" aria-labelledby="legaux-tab">
    <h4 class="" i18n>Documents légaux</h4>
    <p>Ces documents doivent être vérifiés par notre prestataire de paiement pour déclencher les virements vers votre compte.</p>
    <div class="col-lg-8 offset-lg-2">
        <form [formGroup]="legalForm" (ngSubmit)="onSubmit()">
            <div class="custom-file mb-4">
                <input type="file" class="custom-file-input" id="validatedCustomFile" (change)="onSelectedFile($event, secureType.SocialCharge)" required>
                <label class="custom-file-label" for="validatedCustomFile">{{ legalForm.controls.socialCharge.value.name }}</label>
                <div style="display:block" class="valid-feedback" *ngIf='socialChargePdf === true && legalForm.controls.socialCharge.value.status !== 1'>Votre attestation de vigilance est à jour <i class="fas fa-check"></i></div>
                <div style="display:block" class="update-feedback" *ngIf="legalForm.controls.socialCharge.value.status">Vous allez téléverser un document <i class="fas fa-wrench"></i></div>
                <div style="display:block" class="invalid-feedback" *ngIf='socialChargePdf === false && legalForm.controls.socialCharge.value.status !== 1'>Votre attestation de vigilance n'est pas à jour <i class="fas fa-times"></i></div>
                <button type="button" i18n class="dark mt-1" (click)="fileUrl(fileType.socialCharge)" *ngIf='socialChargePdf === true && legalForm.controls.socialCharge.value.status !== 1'>Voir</button>
            </div>
            <div class="custom-file mb-4">
                <input type="file" class="custom-file-input" id="validatedCustomFile" (change)="onSelectedFile($event, secureType.Kbis)" required>
                <label class="custom-file-label" for="validatedCustomFile">{{ legalForm.controls.kbis.value.name }}</label>
                <div style="display:block" class="valid-feedback" *ngIf='kbisPdf === true && legalForm.controls.kbis.value.status !== 1'>Votre kbis est à jour <i class="fas fa-check"></i></div>
                <div style="display:block" class="update-feedback" *ngIf="legalForm.controls.kbis.value.status === 1">Vous allez téléverser un document <i class="fas fa-wrench"></i></div>
                <div style="display:block" class="invalid-feedback" *ngIf='kbisPdf === false && legalForm.controls.kbis.value.status !== 1'>Votre kbis n'est pas à jour <i class="fas fa-times"></i></div>
                <button type="button" i18n class="dark mt-1 mt-2" (click)="fileUrl(fileType.kbis)" *ngIf='kbisPdf === true && legalForm.controls.kbis.value.status !== 1'>Voir</button>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="validatedCustomFile" (change)="onSelectedFile($event, secureType.Insurance)" required>
                <label class="custom-file-label" for="validatedCustomFile">{{ legalForm.controls.insurance.value.name }}</label>
                <div style="display:block" class="valid-feedback" *ngIf='insurancePdf === true && legalForm.controls.insurance.value.status !== 1'>Votre attestation est à jour <i class="fas fa-check"></i></div>
                <div style="display:block" class="update-feedback" *ngIf="legalForm.controls.insurance.value.status === 1">Vous allez téléverser un document <i class="fas fa-wrench"></i></div>
                <div style="display:block" class="invalid-feedback" *ngIf='insurancePdf === false && legalForm.controls.insurance.value.status !== 1'>Votre attestation n'est pas à jour <i class="fas fa-times"></i></div>
                <button type="button" i18n class="dark mt-1" (click)="fileUrl(fileType.insurance)" *ngIf='insurancePdf === true && legalForm.controls.insurance.value.status !== 1'>Voir</button>
            </div>
            <div class="form-group form-footer">
                <button type="submit" i18n class="dark">Valider</button>
            </div>
        </form>
    </div>
</div>
