@import 'variables';
@import 'modal';
@import 'button';
.mat-dialog-content {
    max-height: 85vh !important;
}

.input-image {
    opacity: 1 !important;
    height: 30px !important;
    width: 300px !important;
}

dl {
    font-size: .9em;
    font-style: italic;
    margin: 0;
}