<div class="login-bg">
</div>
<div class="login-input-container">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <form class="form-signin" #loginForm="ngForm" (submit)="update()">
          <img src="/assets/img/sidebar_logo_neadz.svg" class="logo mx-auto d-block" />
          <h2 i18n *ngIf="!setFirstPassword">Nouveau mot de passe</h2>
          <h2 i18n *ngIf="setFirstPassword">Création du mot de passe</h2>
          <div class="password">
            <label i18n *ngIf="!setFirstPassword">Votre nouveau mot de passe</label>
            <label i18n *ngIf="setFirstPassword">Votre mot de passe</label>
            <input #inputPass tabindex="1" type="password" [(ngModel)]="password" name="password" i18n-placeholder placeholder="Saisissez votre mot de passe..." /><br />
          </div>
          <div class="password">
            <label i18n #newMdpConfirm>Confirmer votre mot de passe</label>
            <input #inputPassConfirm tabindex="2" type="password" [(ngModel)]="passwordCheck" name="passwordCheck" i18n-placeholder placeholder="Confirmez votre mot de passe..." /><br />
            <span class="mention-cgu" *ngIf="setFirstPassword">
              Neadz s'engage à respecter vos données. En continuant votre inscription,
              vous acceptez nos <a target="_blank" [routerLink]="['/legal']">Conditions Générales</a>.
            </span>
            <button type="submit" i18n>Valider</button>
          </div>
          <p class="mt-5 mb-3 text-muted">&copy; 2019 Neadz.</p>
        </form>
      </div>
    </div>
  </div>
</div>
