<mat-dialog-content>
  <div class="modal-content">
    <div class="edit-profile-main-modal">
      <div class="modal-header">
        <h4 class="modal-title" i18n>Personalisation du pdf</h4>
        <button type="button" (click)="close()" class="close" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="data-block">
              <div class="sm-container">
                <label for="pdf-tjm" i18n>TJM affiché</label>
                <input id="pdf-tjm" class="no-border" type="number" placeholder="{{ pdfTJMProposal }}" [(ngModel)]="pdfTJM"/> €
              </div>
            </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" i18n class="dark" (click)="submit()">Télécharger le pdf</button>
    </div>
  </div>
</mat-dialog-content>
