@import '../../scene/boarding-freelance.component.scss';
#skills-container {
    .create-skill {
        position: absolute;
        left: 300px;
        margin-top: 25px;
    }
    .search {
        margin: 0.925em 0 0.75em;
        width: 50% !important;
    }
    .skill-container {
        padding: 13px 0;
        border-bottom: 1px solid $silverGrey;
        .skill-title {
            //margin-top: 2px;
            line-height: 35px;
        }
        .slider-container {
            margin-top: -8px;
        }
    }
}