<div class="app-container">
    <div class="header-container">
        <div class="page-header" i18n>Décrivez votre profil</div>
    </div>
    <div class="bloc-container">
        <div class="data-block" id="mission-duration-container">
            <label i18n>Je suis</label>
            <div class="duration-container d-flex">
                <button class="regular" [class.enabled]="freelance.headline == proposal" (click)="freelance.headline = proposal" *ngFor="let proposal of profileProposal">
            {{ proposal }}
          </button>
            </div>
            <div *ngIf="submitted && !freelance.headline" class="error">
                <i class="fas fa-times"></i> Merci de choisir un métier
            </div>
        </div>

        <div class="data-block" id="mission-duration-container" [formGroup]="form">
            <label i18n>tjm souhaité</label>
            <div>
                <input type="number" placeholder="600" class="no-border" formControlName="tjm">€
            </div>
            <div *ngIf="submitted && tjmForm.errors" class="error">
                <i class="fas fa-times"></i>le TJM n'est pas valide
            </div>
        </div>

        <div class="data-block" id="skills-container">
            <label for="search-skill" i18n>je posséde les compétences suivantes :</label>

            <input id="search-skill" type="text" placeholder="Rechercher une compétence..." aria-label="Skill" class="search" matInput [matAutocomplete]="auto" [formControl]="myControl" />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="inputDisplay">
                <mat-option *ngFor="let tech of filteredOptions | async" [value]="tech">
                    {{ tech.name }}
                </mat-option>
            </mat-autocomplete>
            <div class="skill-container" *ngFor="let skill of freelance.skills">
                <div class="row">
                    <div class="col-md-1">
                        <button class="delete" (click)="removeSkill(skill.tech.id)"></button>
                    </div>
                    <div class="col-md-3 skill-title">
                        {{ skill.tech.name }}
                    </div>
                    <div class="col-md-8 slider-container">
                        <app-range-slider (valueChanged)="skillLevelChanged($event, skill)" [defaultValue]="skill.level" step="10" unit="an(s)" [maxLabel]="'ans+'"></app-range-slider>
                    </div>
                </div>
            </div>
            <div *ngIf="submitted && getSkillLength() === 0" class="error">
                <i class="fas fa-times"></i> Merci de choisir au moins une compétence
            </div>
        </div>

        <div class="modal-footer">
            <button class="light" (click)="previous()">Revenir</button>
            <button class="dark" (click)="next()">Continuer</button>
        </div>
    </div>
</div>