<div class="bloc-container table-responsive">
    <h6 i18n>Besoins à pourvoir <span>({{ total }} besoins actifs)</span></h6>
    <div class="empty-block" *ngIf="needs && needs.length == 0">
        <button class="add"></button> &nbsp; <span i18n>Vous n'avez pas de besoin (ajouter un besoin)</span>
    </div>

    <table class="table table-hover" *ngIf="needs && needs.length > 0">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Besoin</th>
                <th scope="col">Client</th>
                <th scope="col">Date</th>
                <th scope="col"><i class="fas fa-user"></i></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let need of needs">
                <td>
                    {{ need.jobTitle | truncate:35 }}
                    <span>
                      <div *ngIf="need.experienceLevel === 0"><i class="fas fa-graduation-cap"></i> Non renseigné</div>
                      <div *ngIf="need.experienceLevel === 2"><i class="fas fa-graduation-cap"></i> Junior</div>
                      <div *ngIf="need.experienceLevel === 4"><i class="fas fa-graduation-cap"></i> Confirmé</div>
                      <div *ngIf="need.experienceLevel === 8"><i class="fas fa-graduation-cap"></i> Expert</div>
                    </span>
                </td>
                <td>
                  {{ need.companyTitle }}
                  <span><i class="fas fa-map-marker-alt"></i> {{ need.companyCity }}</span>
                </td>
                <td>
                    <div *ngIf="need.availabilityType === availabilityType.After">
                        <i class="fas fa-rocket"></i> {{ need.availabilityDate | date:'MM/yyy'}}
                    </div>
                    <div *ngIf="need.availabilityType == availabilityType.Asap">
                        <i class="fas fa-rocket"></i> Dès que possible
                    </div>
                    <span><i class="far fa-clock"></i> {{ need.createDate | dateFromNow }} </span>
                </td>
                <td> {{ need.freelanceNeeds.length }} </td>
                <td><i class="far fa-eye" (click)="redirect(need.id)"></i></td>
            </tr>
        </tbody>
    </table>

    <div class="row" *ngIf="needs && needs.length > 0">
        <div class="col-md-12">
            <button class="light" routerLink="/agent/besoins/" i18n>Voir tous les besoins</button>
        </div>
    </div>
</div>
