<div class="header-btns">
    <button class="header-btn delete"></button>
    <button class="header-btn copy"></button>
    <button class="header-btn download"></button>
</div>

<select id="year-select">
  <option>Année 2014</option>
  <option>Année 2015</option>
  <option>Année 2016</option>
  <option>Année 2017</option>
  <option>Année 2018</option>
</select>
<img src="../../../../assets/img/datepicker-date-arrow.svg" class="date-arrow"/>

<table cellpadding=2 cellspacing=2>
  <thead>
      <tr>
        <th>
            <label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
        </th>
        <th>Contrats</th>  
        <th></th> 
        <th>Date</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <th>
        <label class="container">
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
      </th>
      <th class="contract-name">
          <img src="../../../../assets/img/contract_icon.svg"> &nbsp;  &nbsp; 
          Nom contrat
      </th>
      <th class="link">
          facture_brand_2018.jpg
      </th>
      <th class="date">
          14.05.2018
      </th>
    </tr>
  </tbody>
</table>