<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 d-none d-md-block sidebar">
            <app-sidebar></app-sidebar>
        </nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="app-container">
                <div class="missions-header-container header-container">
                    <div class="page-header" i18n>Mission de {{currentMission?.freelance.account.firstName}} {{currentMission?.freelance.account.lastName}}
                    </div>
                </div>
                <div class="menu-container my-4">
                    <ul class="main-menu">
                        <li [class.active]="activeTab === freelanceTabs.cra" (click)="switchTab(freelanceTabs.cra);" i18n>
                            CRA</li>
                        <li [class.active]="activeTab === freelanceTabs.documents" (click)="switchTab(freelanceTabs.documents);" i18n>Documents</li>
                    </ul>
                </div>
                <div class="calendar-wrapper" *ngIf="activeTab === freelanceTabs.cra">
                    <app-cra-detail [currentMission]="currentMission" (emitDocumentTab)="allDocument()"></app-cra-detail>
                </div>
                <div *ngIf="activeTab === freelanceTabs.documents">
                    <div class="body-container">
                        <div class="page-container">
                            <app-document-list [currentMission]="currentMission"></app-document-list>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<app-footer></app-footer>