@import 'scene';
@import 'card';
@import 'button';
@import 'input';
@import 'variables';

.techs {
    img {
      width: 28px;
      height: 28px;
      margin-right: 10px;
      margin-top: 5px;
    }
  }