<mat-dialog-content>
  <div class="modal-content" *ngIf="!notifyModal">
    <div class="confirm-month-modal">
    <div class="modal-header">
      <h4 class="modal-title" i18n>Refus</h4>
      <button mat-button
      (click)="close(true)"
      class="close"
      aria-label="Close"></button>
    </div>
    <div class="modal-body">
        Il semble que vous n’ayez pas été convaincu par la mission présentée.
        Aidez-nous à mieux appréhender vos attentes, faites-nous part de votre retour.
      <div class="data-block">
          <label for="reasonSelect" i18n>Raison de votre refus</label> <br>
          <select id="reasonSelect" [(ngModel)]="reason">
            <option i18n value="" selected="selected" disabled hidden>Veuillez sélectionner une raison</option> 
            <option i18n value="L’environnement technique ne me convient pas">L’environnement technique ne me convient pas</option>
            <option i18n value="Le secteur d’activité ne me convient pas">Le secteur d’activité ne me convient pas</option>
            <option i18n value="La localisation ne me convient pas">La localisation ne me convient pas</option>
            <option i18n value="La durée du projet ne me convient pas">La durée du projet ne me convient pas</option>
            <option i18n value="Autre">Autre</option>
          </select>
          <br>
          <div *ngIf="reason === 'Autre'">
            <textarea  [formControl]="textControl" [(ngModel)]="writenReason" class="full-width full"></textarea>
            <span class="counter">
              {{ reasonLength | async }} / 400
            </span>
          </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <button class="light" (click)="close(true)" i18n>Annuler</button>
      <button class="dark"  (click)="close(false)" i18n>Valider</button>
  </div>
</div>
  <div *ngIf="notifyModal">
    <div class="modal-content" >
      <div class="confirm-month-modal">
      <div class="modal-header">
        <h4 class="modal-title" i18n>Merci</h4>
        <button mat-button
        (click)="finish()"
        class="close"
        aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Nous avons bien pris en compte les raisons de votre refus.
      </div>
    </div>
    <div class="modal-footer">
      <button class="dark"  (click)="finish()" i18n>Ok</button>
    </div>
  </div>
</div>

</mat-dialog-content>
  
   
