<div class="login-bg">

</div>
<div class="login-input-container">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <img src="/assets/img/sidebar_logo_neadz.svg" class="logo mx-auto d-block" />

                <h2 i18n>Réinitialiser le mot de passe</h2>
                <div *ngIf="emailTried">
                    <div>Nous vous avons envoyé un mail à : {{ emailTried }}</div>
                    <button (click)="clear()"> Ce n'est pas le bon mail ?</button>
                </div>
                <form (submit)="submit()" *ngIf="!emailTried">
                    <div class="email">
                        <label i18n>Email</label><br />
                        <input type="text" [(ngModel)]="email" name="username" i18n-placeholder placeholder="Saisissez votre email..." /><br />
                        <button type="submit" i18n>Réinitialiser</button>
                    </div>
                    <p class="mt-5 mb-3 text-muted">&copy; 2019 Neadz.</p>
                </form>
            </div>
        </div>
    </div>
</div>